@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #fff;
	--secondary-color: #88292f;
	--tertiary-color: #2e1e0f;

	--medium-grey: #3d3c3c;
	--light-grey: #676767;
}
